<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide1.jpg</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAANAJujZBVyrQCIXwRFVi/7/IJ5aisa32/a6w2SFxl48U+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAAKAAAAAQEAAFNsaWRlMS5qcGcAACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4erwIAAAAACAAAAAQD
	AAA/Hq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v0HAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide1.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAOZ8fY4Z8IzatR/mFgXHzbDV2UEgsOrQO5GzoQnjUzSD+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMS50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4jrwIAAAAACAAAAAQD
	AAA/I68CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58wLGAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide2.jpg</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAB4E0QvZ5c0PTningMP0foC5t8EDxKQh6DrfUAs0j+c++AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAAKAAAAAQEAAFNsaWRlMi5qcGcAACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4erwIAAAAACAAAAAQD
	AABAHq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v0HAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide2.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAJj/UdlwI7TmbJJbk4vC60LuXqxCChX2cKQI35a4ARAf+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMi50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAGAgrwIAAAAACAAAAAQD
	AABiIK8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v87AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide3.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAAkpBXQwdlZlpHejysclX3y+cmbNox8XGZSmgsavclGH+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMy50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAA4lOvAgAAAAAIAAAABAMAAOBWrwIAAAAACAAAAAQD
	AADjVq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58/WVAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide4.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAACy2J4qzcBjK2/z2/sv7DdS75/AyNRHQ4jp7UET04yIO+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlNC50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAA4lOvAgAAAAAIAAAABAMAAOBWrwIAAAAACAAAAAQD
	AADkVq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58/WVAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/img/ActivateVirtualLab.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAHyXygLtdP0dPJ1oou03ch2VHfg4LCflqNVwjSYF2yCU+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAADAAAAAQEA
	AGltZwAXAAAAAQEAAEFjdGl2YXRlVmlydHVhbExhYi50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAANQAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAA4lOvAgAAAAAIAAAABAMAAAqKrwIAAAAACAAAAAQD
	AACQlq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG59B8aAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/img/CongratsEmail.tiff</key>
	<data>
	Ym9va+wDAAAAAAQQMAAAACZSK6RxzjlP7VBoX1T1OSkHr8Nj+HqiP6kvlUQ+0baZ9AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAADAAAAAQEA
	AGltZwASAAAAAQEAAENvbmdyYXRzRW1haWwudGlmZgAALAAAAAEGAAAEAAAAFAAAACQA
	AAA4AAAAUAAAAGAAAAB4AAAAmAAAAKwAAADIAAAA1AAAAAgAAAAEAwAAJWcCAAAAAAAI
	AAAABAMAAJeDCgAAAAAACAAAAAQDAACZgwoAAAAAAAgAAAAEAwAAsZ4NAAAAAAAIAAAA
	BAMAAE1ODwAAAAAACAAAAAQDAABU2A8AAAAAAAgAAAAEAwAANs6hAgAAAAAIAAAABAMA
	ADzOoQIAAAAACAAAAAQDAADiU68CAAAAAAgAAAAEAwAACoqvAgAAAAAIAAAABAMAAA+K
	rwIAAAAALAAAAAEGAAAkAQAANAEAAEQBAABUAQAAZAEAAHQBAACEAQAAlAEAAKQBAAC0
	AQAAxAEAAAgAAAAABAAAQbn0ExUAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAA
	AAAAAAgAAAAEAwAACQAAAAAAAAAEAAAAAwMAAPYBAAAMAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAALCDwugAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABENTIwOEI0OS0x
	QkY2LTM2MDktQkI3RS04QjVBMTJBOUEyNDIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAA
	AAAAAA8AAAAEEAAA8AAAAAAAAAAFEAAA1AEAAAAAAAAQEAAAGAIAAAAAAABAEAAACAIA
	AAAAAAACIAAA1AIAAAAAAAAQIAAAVAIAAAAAAAARIAAAiAIAAAAAAAASIAAAaAIAAAAA
	AAATIAAAeAIAAAAAAAAgIAAAtAIAAAAAAAAwIAAA4AIAAAAAAAABwAAAOAIAAAAAAAAR
	wAAAFAAAAAAAAAASwAAASAIAAAAAAAAQ0AAA6AIAAAAAAAA=
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/img/logo.tif</key>
	<data>
	Ym9va+ADAAAAAAQQMAAAAFU6C+Lysmi9aBfac2anpnUUCGnqEjJ4MLB/f1mxFgTz6AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAADAAAAAQEA
	AGltZwAIAAAAAQEAAGxvZ28udGlmLAAAAAEGAAAEAAAAFAAAACQAAAA4AAAAUAAAAGAA
	AAB4AAAAmAAAAKwAAADIAAAA1AAAAAgAAAAEAwAAJWcCAAAAAAAIAAAABAMAAJeDCgAA
	AAAACAAAAAQDAACZgwoAAAAAAAgAAAAEAwAAsZ4NAAAAAAAIAAAABAMAAE1ODwAAAAAA
	CAAAAAQDAABU2A8AAAAAAAgAAAAEAwAANs6hAgAAAAAIAAAABAMAADzOoQIAAAAACAAA
	AAQDAADiU68CAAAAAAgAAAAEAwAACoqvAgAAAAAIAAAABAMAAK+OrwIAAAAALAAAAAEG
	AAAYAQAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACoAQAAuAEAAAgAAAAA
	BAAAQbn0FowAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
	CQAAAAAAAAAEAAAAAwMAAPYBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAALCD
	wugAAAAIAAAAAAQAAEG5HkA7AAAAJAAAAAEBAABENTIwOEI0OS0xQkY2LTM2MDktQkI3
	RS04QjVBMTJBOUEyNDIYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAA
	5AAAAAAAAAAFEAAAyAEAAAAAAAAQEAAADAIAAAAAAABAEAAA/AEAAAAAAAACIAAAyAIA
	AAAAAAAQIAAASAIAAAAAAAARIAAAfAIAAAAAAAASIAAAXAIAAAAAAAATIAAAbAIAAAAA
	AAAgIAAAqAIAAAAAAAAwIAAA1AIAAAAAAAABwAAALAIAAAAAAAARwAAAFAAAAAAAAAAS
	wAAAPAIAAAAAAAAQ0AAA3AIAAAAAAAA=
	</data>
</dict>
</plist>
