<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide1.jpg</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAANAJujZBVyrQCIXwRFVi/7/IJ5aisa32/a6w2SFxl48U+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAAKAAAAAQEAAFNsaWRlMS5qcGcAACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4erwIAAAAACAAAAAQD
	AAA/Hq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v0HAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide1.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAOZ8fY4Z8IzatR/mFgXHzbDV2UEgsOrQO5GzoQnjUzSD+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMS50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4jrwIAAAAACAAAAAQD
	AAA/I68CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58wLGAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide2.jpg</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAB4E0QvZ5c0PTningMP0foC5t8EDxKQh6DrfUAs0j+c++AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAAKAAAAAQEAAFNsaWRlMi5qcGcAACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAD4erwIAAAAACAAAAAQD
	AABAHq8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v0HAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide2.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAJj/UdlwI7TmbJJbk4vC60LuXqxCChX2cKQI35a4ARAf+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMi50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAGAgrwIAAAAACAAAAAQD
	AABiIK8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v87AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/IT Automation/Advanced IT Automation/2014-Fall/KU-AccountCreation/MasoudSadjadi/Slide3.tiff</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAACSuutaKMaZk5Ly+L1DjmJJR+FjdH7K+bBahjJcSaavg+AIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADQAAAAEBAABJ
	VCBBdXRvbWF0aW9uAAAAFgAAAAEBAABBZHZhbmNlZCBJVCBBdXRvbWF0aW9uAAAJAAAA
	AQEAADIwMTQtRmFsbAAAABIAAAABAQAAS1UtQWNjb3VudENyZWF0aW9uAAANAAAAAQEA
	AE1hc291ZFNhZGphZGkAAAALAAAAAQEAAFNsaWRlMy50aWZmACwAAAABBgAABAAAABQA
	AAAkAAAAOAAAAFAAAABgAAAAeAAAAJgAAACsAAAAyAAAAOAAAAAIAAAABAMAACVnAgAA
	AAAACAAAAAQDAACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAA
	CAAAAAQDAABNTg8AAAAAAAgAAAAEAwAAVNgPAAAAAAAIAAAABAMAADbOoQIAAAAACAAA
	AAQDAAA8zqECAAAAAAgAAAAEAwAAeQOvAgAAAAAIAAAABAMAAGAgrwIAAAAACAAAAAQD
	AABjIK8CAAAAACwAAAABBgAAKAEAADgBAABIAQAAWAEAAGgBAAB4AQAAiAEAAJgBAACo
	AQAAuAEAAMgBAAAIAAAAAAQAAEG58v87AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAACwg8LoAAAACAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhC
	NDktMUJGNi0zNjA5LUJCN0UtOEI1QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////
	AQAAAAAAAAAPAAAABBAAAPQAAAAAAAAABRAAANgBAAAAAAAAEBAAABwCAAAAAAAAQBAA
	AAwCAAAAAAAAAiAAANgCAAAAAAAAECAAAFgCAAAAAAAAESAAAIwCAAAAAAAAEiAAAGwC
	AAAAAAAAEyAAAHwCAAAAAAAAICAAALgCAAAAAAAAMCAAAOQCAAAAAAAAAcAAADwCAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEwCAAAAAAAAENAAAOwCAAAAAAAA
	</data>
</dict>
</plist>
